[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=FoldWatcher
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=FoldWatcher
Exec=foldwatcher

